firebase-debug.log
node_modules
node/
library
*.iml
.idea/
report
reports
mocha.json
.tmp/
target/
*.log

.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/solid-barnacle.iml
.idea/workspace.xml
