<md-content class="md-padding">
    <input id="txtEmail" type="email" placeholder="Email" ng-model="vm.txtEmail">
    <input id="txtPassword" type="password" placeholder="Password" ng-model="vm.txtPassword">
    <md-button id="btnLogin" class="md-raised md-primary" ng-model="btnLogin" ng-click="vm.login()">Sign In</md-button>
    <!-- <button id="btnSignUp" class="btn btn-secondary" ng-if="!vm.isLoggedIn" ng-click="vm.signUp()">Sign Up</button> -->
    <md-button id="btnSignUpWithGoogle" class="md-raised md-secondary" ng-click="vm.signUpWithGooglePopUp()">Sign Up With Google</md-button>
    <button id="btnLogout" class="btn btn-action hide" ng-if="vm.isLoggedIn" ng-model="btnLogout">Log out</button>
</md-content>